@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-4xl  lg:text-5xl font-black;
  }
  .zapbutton {
    @apply bg-green-500 text-white rounded-lg py-3 px-6 text-center  w-full md:w-auto;
  }
  .zapbutton:hover {
    @apply bg-green-600;
  }
  .goldradial{
    background: 
radial-gradient(53.53% 53.53% at 60.66% 46.47%, rgba(255, 242, 213, 0.35) 0%, rgba(214, 180, 105, 0.35) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  }
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
